<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.endtemplate.mapper.OperLogMapper">

    <resultMap id="BaseResultMap" type="com.zzy.endtemplate.model.entity.OperLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="businessType" jdbcType="CHAR"/>
            <result property="operMethod" column="operMethod" jdbcType="VARCHAR"/>
            <result property="operName" column="operName" jdbcType="VARCHAR"/>
            <result property="operUrl" column="operUrl" jdbcType="VARCHAR"/>
            <result property="operIp" column="operIp" jdbcType="VARCHAR"/>
            <result property="operParam" column="operParam" jdbcType="VARCHAR"/>
            <result property="jsonResult" column="jsonResult" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="errorMsg" column="errorMsg" jdbcType="VARCHAR"/>
            <result property="operTime" column="operTime" jdbcType="TIMESTAMP"/>
            <result property="costTime" column="costTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,businessType,
        operMethod,operName,operUrl,
        operIp,operParam,jsonResult,
        status,errorMsg,operTime,
        costTime
    </sql>
</mapper>
